{
  "presets": ["env", "react"],
  "plugins": [
    "transform-object-rest-spread",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "__test__": "./src/__test__",
        "__sample__": "./src/__test__/__sample__"
      }
    }]
  ]
}
