{
  "presets": ["env", "react"],
  "plugins": [
    "transform-object-rest-spread",
    "transform-react-pure-components",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "__test__": "./src/__test__",
        "__sample__": "./src/__test__/__sample__"
      }
    }]
  ],
  "env": {
    "production": {
      "plugins": [
        ["transform-react-remove-prop-types", {
          "ignoreFilenames": ["node_modules"],
          "removeImport" : true
        }]
      ],
      "ignore": [
        "**/__test__",
        "**/*.test.js"
      ]
    }
  }
}
